extends ./layout.pug 

block metadata 
  title Fotaza - Crear Usuario

block content 
  h1 Ingrese los datos solicitados para crear usuario.
  form(action="/signup" method="POST")
    input(type="hidden" name="_csrf" value=csrfToken)
    .form-group
      label(for="firstName")  Ingrese su nombre:
      input#firstName.form-control(type="text" name="firstName" required)
    .form-group 
      label(for="lastName") Ingrese su apellido: 
      input#lastNme.form-control(type="text" name="lastName" required)
    .form-group
      label(for="birthDay") Ingrese su fecha de nacimiento: 
      input#birthDay.form-control(type="date" name="birthDay" required)
    .form-group 
      label(for="gender") Seleccione su genero: 
      select#gender.form-control(name="gender")
        option(value="Masculino") Masculino
        option(value="Femenino") Femenino
        option(value="Otro") Otro
    .form-group 
      label(for="phone") Ingrese su numero de telefono: 
      input#phone.form-control(type="tel", name="phone" required)
    .form-group
      label(for="password")  Escriba su contraseña:
      input#password.form-control(type="password", name="password" required)
    .form-group
      label(for="confirmPassword") Confirme su contraseña: 
      input#confirmPassword.form-control(type="password" name="confirmPassword" required)
    br
    button.btn.btn-success(type="submit") Registrarse
    br
  h2 ¿Ya tenes una cuenta? Podes iniciar sesion: 
    a(href="./login") Iniciar Sesion 
    