extends ./layout.pug 

block metadata 
  title Fotaza - Crear Usuario

block content 
  h1 Ingrese los datos solicitados para crear usuario.
  form(action="/signup" method="POST")
    input(type="hidden" name="_csrf" value=csrfToken)
    .form-group
      label(for="email") Ingresa tu Correo Electrónico:
      input#email.form-control(type="email" name="email" required)
    .form-group
      label(for="userName") Ingresa tu nombre y apellido:
      input#userName.form-control(type="text" name="userName" required)
    .form-group
      label(for="birthDay") Ingrese su fecha de nacimiento: 
      input#birthDay.form-control(type="date" name="birthDay" required)
    .form-group 
      label(for="gender") Seleccione su genero: 
      select#gender.form-control(name="gender")
        option(value="Masculino") Masculino
        option(value="Femenino") Femenino
        option(value="Otro") Otro
    .form-group 
      label(for="phone") Ingrese su numero de telefono: 
      input#phone.form-control(type="tel", name="phone" required)
    .form-group
      label(for="password")  Escriba su contraseña:
      input#password.form-control(type="password", name="password" required)
    .form-group
      label(for="confirmPassword") Confirme su contraseña: 
      input#confirmPassword.form-control(type="password" name="confirmPassword" required)
    .form-check.mb-3
      input#terms.form-check-input(type="checkbox" name="terms" required)
      label.form-check-label(for="terms") Acepto las normas de comportamiento de Fotaza
    br
    button.btn.btn-success(type="submit") Registrarse
    br
  h2 ¿Ya tenes una cuenta? Podes iniciar sesion: 
    a(href="./login") Iniciar Sesion 
    