extends ./layout.pug 

block content 
  h1 Bienvenido a Fotaza
  h2 Inicia sesion para ingresar si ya tienes un usuario 
  form(action="/login" method="POST")
    input(type="hidden" name="_csrf" value=csrfToken)
    .form-group
      label(for="email") Correo: 
      input#email.form-control(type="email" name="email" required)
    .form-group
      label(for="password") Contraseña: 
      input#password.form-control(type="password" name="password" required)
    br
    button.btn.btn-primary(type="submit") Ingresar
    br
  h2 ¿No tenes cuenta? Podes crear una: 
    a(href="./signup") Crear Usuario 
