extends ./layout.pug 

block metadata
  title Fotaza - Inicio de Sesión

block content 
  .container.my-5(style="max-width: 500px;")
    h1.text-center.mb-3 📸 Bienvenido a Fotaza
    p.text-muted.text-center Iniciá sesión para ingresar a la comunidad fotográfica.
    
    form(action="/login" method="POST" class="shadow-sm p-4 border rounded bg-white")
      input(type="hidden" name="_csrf" value=csrfToken)
      
      .mb-3
        label.form-label.fw-bold(for="email") Correo Electrónico: 
        input#email.form-control(type="email" name="email" placeholder="nombre@correo.com" required)
      
      .mb-3
        label.form-label.fw-bold(for="password") Contraseña: 
        input#password.form-control(type="password" name="password" required)
      
      button.btn.btn-primary.w-100.mt-3(type="submit") Ingresar a mi Cuenta
      
    .text-center.mt-4
      p.text-muted ¿No tenés cuenta? 
        a.fw-bold(href="/signup") Crear un nuevo usuario
